name: async-icq
on: 
  pull_request:
    paths:
      - 'modules/async-icq/**'
      - '.github/workflows/async-icq.yml'

env:
  LINT_VERSION: v1.52
  GO_VERSION: 1.21.0
  WORKING_DIRECTORY: modules/async-icq

jobs:
  golangci:
    name: Linter    
    runs-on: ubuntu-latest    
    steps:
      - uses: actions/checkout@v3

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: ${{ env.LINT_VERSION }}
          working-directory: ${{ env.WORKING_DIRECTORY }}
          args: --timeout=5m

  test:
      runs-on: ubuntu-latest
      name: test
      steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v4

      - name: Test
        run: go test ./...
        working-directory: ${{ env.WORKING_DIRECTORY }}

  # TODO: e2e