name: packet-forward-middleware
on:
  pull_request:
    paths:
      - 'middleware/packet-forward-middleware/**'
      - '.github/workflows/packet-forward-middleware.yml'

env:
    LINT_VERSION: v1.56.2
    GO_VERSION: 1.22.0
    WORKING_DIRECTORY: middleware/packet-forward-middleware

    DOCKER_TAG: pfm:local
    TAR_PATH: /tmp/pfm-docker-image.tar
    IMAGE_NAME: pfm-docker-image

jobs:
  golangci:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: ${{ env.LINT_VERSION }}
          working-directory: ${{ env.WORKING_DIRECTORY }}
          args: --timeout=5m

  test:
      runs-on: ubuntu-latest
      name: test
      steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v4

      - name: Test
        run: go test ./...
        working-directory: ${{ env.WORKING_DIRECTORY }}

  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.WORKING_DIRECTORY }}
          tags: ${{ env.DOCKER_TAG }}
          outputs: type=docker,dest=${{ env.TAR_PATH }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.IMAGE_NAME }}
          path: ${{ env.TAR_PATH }}

  e2e-tests:
    needs: build-docker
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIRECTORY }}
    strategy:
      matrix:
        test:
          - "ictest-forward"
          - "ictest-timeout"
          - "ictest-storage-leak"
          - "ictest-upgrade"
          - "ictest-nonrefundable"
      fail-fast: false

    steps:
      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v4

      - name: Download Tarball Artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.IMAGE_NAME }}
          path: /tmp

      - name: Load Docker Image
        run: |
          docker image load -i ${{ env.TAR_PATH }}
          docker image load -i testing/previous_images/pfm_7_0_1.tar
          docker image ls -a

      - name: Run Test
        run: make ${{ matrix.test }}
